:root {
    font-size: 16px;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    display: grid;
    grid-template-columns: 79px 1fr;
    grid-template-rows: 60px 60px 1fr 88px;
    grid-template-areas:
        'header header'
        'aside nav'
        'aside main'
        'aside footer';
}

body>header {
    grid-area: header;
    border: 1px solid lightgray;
}

body>aside {
    grid-area: aside;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom: none;
}

body>nav {
    grid-area: nav;
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: footer;
    border: 1px solid lightgray;
    border-left: none;
    border-bottom: none;
}


/* GENERICI */
/* ---------------------- */

h1 {
    margin: 20px 0 10px 0;
    color: #061726;
}

h1 {
    margin: 20px 0 10px 0;
    color: #061726;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

h3 {
    margin: 10px 0;
    font-size: 1rem;
    color: #061726;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

h2 {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #061726;
}

p {
    margin-top: 5px;
    color: #061726;
    font-size: 1rem;
}

.Featured {
    color: #88a0b8;
    font-size: 1rem;
}


/* HEADER */
/* ---------------------- */

body>header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

body>header>section {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 1rem;
}

.hamburger-icon {
    cursor: pointer;
}

.btn-signIn {
    background-color: transparent;
    color: #0d2437;
    font-weight: 600;
    padding: 0.8rem 1rem;
    border-radius: 10rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-signUp {
    background-color: transparent;
    color: #0d2437;
    font-weight: 600;
    padding: 0.8rem 1rem;
    border-radius: 10rem;
    border: 2px solid #85c742;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-signIn:hover {
    background-color: #F3F5F8;
    transition: 0.1s;
}

.btn-signUp:hover {
    background-color: #F3F5F8;
    transition: 0.1s;
}

.btn-signUp {
    background-color: transparent;
    color: #0d2437;
    font-weight: 600;
    padding: 0.8rem 1rem;
    border-radius: 10rem;
    border: 2px solid #85c742;
    font-size: 0.9rem;
    cursor: pointer;
}

.search-bar>input {
    height: 30px;
    border: 1px solid #d6e0ea;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    font-size: 1rem;
    width: 35vw;
    padding-left: 10px;
}

.header-search-field::placeholder {
    color: #061726;
}

.search-bar>button {
    height: 30px;
    border: 1px solid #d6e0ea;
    background-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: none;
}

.search-bar>button>img {
    height: 100%;
    padding: 4px 4px;
}


/* MAIN */
/* ---------------------- */

body>main {
    overflow: auto;
    background-color: #E9EBEE;
}

.video-cover {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: #F3F5F8;
}

.video-content {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-top: 1px solid lightgray;
}

.view-all {
    background-color: #F3F5F8;
    color: #0d2437;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    border: 1px solid #85c742;
    font-size: 0.9rem;
    cursor: pointer;
}

.view-all:hover {
    background-color: #85c742;
    transition: .1s;
}

.video-rows {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.live-video-rows {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.live::before {
    color: red;
    content: "•";
    font-weight: 900;
    margin-right: 0.5rem;
}

.info-box {
    display: flex;
    gap: 0.8rem;
}

.picture>img {
    border-radius: 100%;
}

.image-box>img {
    border-radius: 0.5rem;
}

.text>strong {
    font-size: 0.9rem;
    font-weight: 600;
}

.text>p {
    font-size: 0.8rem;
}

.power-slap-blue {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* ASIDE */
/* ---------------------- */
.nav-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.menu-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    color: #061726;
    border-radius: 0.6rem;
    text-decoration: none;
    font-size: 0.5rem;
    padding-bottom: 20px;
}

.nav-menu-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 20px;
    padding: 1rem 0;
}

.nav-menu-picture img {
    border-radius: 100%;
    border: 2px solid red;
}

.nav-menu-picture>h4 {
    padding: 1rem;
    font-size: 0.8rem;
}

.menu-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    color: #061726;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.6rem;
    padding-bottom: 30px;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 20px;
    padding: 1rem 0;
}

.nav-menu-list>h4 {
    padding: 1rem;
    font-size: 0.8rem;
}


/* NAV-SCROLL ORIZZONTALE */
/* ---------------------- */

.nav-tags {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: auto; 
}

.nav-tags::-webkit-scrollbar{
    display: none;
}

.btn-tag {
    padding: 10px 15px;
    border-radius: 4rem;
    background-color: #F3F5F8;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.brand-tags>a{
    text-decoration: none; 
}

.btn-tag-img {
    padding: 12px 16px;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    width: 60px;
}

.nav-tags>.brand-tags {
    display: flex;
    align-items: center;
}

.brand-tags {
    display: flex;
    text-wrap: nowrap;
}


/* FOOTER */
/* ---------------------- */

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.foot-nav-li {
    display: flex;
    padding: 0.5rem;
}

.foot-nav-li>li {
    list-style: none;
    color: #061726;
    padding: 0.5rem;
}

.foot-nav-li>li>a {
    color: #061726;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 550;
}

.foot-nav-li>li>a:hover {
    text-decoration: underline;
}

.legal-list {
    display: flex;
}

.legal-list>li {
    display: flex;
    list-style: none;
    color: #061726;
    padding: 0.5rem;
}

.legal-list>li>a {
    color: #061726;
    text-decoration: none;
    font-size: 0.8rem;
}

.legal-list>li>a:hover {
    text-decoration: underline;
}

.copy {
    display: flex;
    font-size: 0.7rem;
}


/* MEDIA QUERIES - DESKTOP */
/* ---------------------- */

@media (min-width: 1024px) {

    .foot-logo {
        display: none;
    }

}


/* MEDIA QUERIES - TABLET */
/* ---------------------- */

@media (max-width: 960px) {

    body {
        grid-template-columns: 0 1fr;
        transition: 0.5s;
    }

    aside {
        display: none;
    }

    .btn-signUp {
        padding: 0.5rem 0.8rem;
        border-radius: 10rem;
        font-size: 0.9rem;
    }

    .btn-signIn {
        font-size: 0.9rem;
    }

    .search-bar>input {
        width: 30vw;
    }

    .menu>img:last-child {
        margin-right: 20rem;
    }

    .tablet-hide {
        display: none;
    }

    .video-rows {
        grid-template-columns: repeat(3, 1fr);
    }

}


/* MEDIA QUERIES - MOBILE */
/* ---------------------- */

@media (max-width: 640px) {

    body>header {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .search-bar>input {
        display: none;
    }

    .search-bar>button {
        border: none;
    }

    .search-bar {
        margin-left: auto;
    }

    .logo {
        width: 80%;
    }

    .video-rows {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .mobile-hide {
        display: none;
    }

    .foot {
        align-items: flex-start;
        flex-direction: column;
        padding: 1.5rem 1rem;
    }

    .foot-nav-li {
        display: block;
        padding: 0.5rem;
    }

    .legal-list>li {
        justify-content: center;

    }

}